.article {
	color: $dark;

	&__tag {
		font-family: "Monument Extended", sans-serif;
		display: flex;
		flex-wrap: wrap;
		line-height: 1.5;
		font-size: $font-md;
		font-weight: 300;
		margin-bottom: $sm;
		text-transform: uppercase;

		> a {
			color: $dark;
			text-decoration: underline;
		
			&:hover {
				text-decoration: none;
			}
		}

		> a + a {
			margin-left: $sm;
		}
	}

	&__title {
		position: relative;
		font-family: "Monument Extended", sans-serif;
		font-weight: 800;
		font-size: $font-lg;
		margin-bottom: $md;
	}

	&__body {
		position: relative;
	}

	&__share {
		position: absolute;
		background-color: $dark;
		top: 0;
		left: -$xl - $xxs;
		padding: $sm $xs;

		a {
			color: $primary;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $dark-lighter;
				transition: all 0.3s ease-in-out;
			}
		}

		li + li {
			margin-top: $md;
		}
	}

	&__header {
		padding-top: $xxl;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: -$md;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $dark;
		}
	}
	
	&__summary {
		font-size: $font-md;
		font-weight: 500;
		margin-bottom: $sm;

		p + p {
			margin-top: $sm;
		}
	}

	&__date {
		font-size: $font-sm;
		color: $dark-light;

		span {
			margin-left: $xxs;
		}
	}

	&__img {
		margin-top: $xl;
		display: flex;
		align-items: center;
		flex-direction: column;

		p {
			color: $dark-light;
			margin-top: $xs;
			text-align: center;
		}
	}

	&__video {
		width: 100%;
		height: 600px;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		margin-top: $lg;

		> div:first-of-type {
			margin-bottom: $xl;
			padding-bottom: $lg;
			border-bottom: 1.5px solid $dark;
		}

		ul {
			list-style: square inside;
		}

		li {
			margin-top: $sm;
		}

		p {
			font-size: $font-md;
		}

		p + p {
			margin-top: $md;
		}

		h3 {
			margin: $lg 0 $md 0;
			font-size: $font-lg;
			font-family: "Monument Extended", sans-serif;

			&::before {
				content: "";
				display: block;
				float: left;
				width: 50px;
				margin: 12px 15px 0 0;
				border-top: $dark $sm solid;
			}
		}

		a {
			@include link($dark-light, $dark-lighter, $dark);
		}
	}
}

@media screen and (max-width: $desktop) {
	.article {
		&__share {
			position: fixed;
			z-index: 999;
			top: unset;
			left: unset;
			bottom: 0;
			right: 0;
			padding: $sm $lg;

			ul {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			li + li {
				margin: 0 0 0 $lg;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.article {
		&__title {
			font-size: $font-xl / 2;
		}

		&__img img {
			max-width: 100%;
		}

		&__video {
			height: 272px;
		}

		&__content {
			h3 {
				font-size: $font-xl / 2;

				&::before {
					margin: 8px 15px 0 0;
				}
			}
		}
	}
}