@mixin btn($color) {
	display: inline-flex;
	align-items: center;
	position: relative;
	color: $color;
	border: 2px $color solid;
	padding: 0 $md;
	z-index: 1;
	line-height: 3.5;
	outline: none;
	white-space: nowrap;
	font-weight: 800;
	letter-spacing: 1.5px;
	background-color: transparent;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba($primary, 0.2), inset 0 2px 4px 0 rgba($primary, 0.2);

	&:hover::before, &:hover::after {
		transform: scale(1);
	}

	&::before, &::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transform: scale(0);
		transition: transform .3s;
		transition-delay: .1s;
	}

	&::before {
		border-right: 2px solid;
		border-bottom: 2px solid;
		transform-origin: bottom right;
	}

	&::after {
		border-left: 2px solid;
		border-top: 2px solid;
		transform-origin: top left;
	}
}

.btn-container {
	display: flex;
	margin-top: $xl;
}

.btn--primary {
	@include btn($primary);
}