@mixin btn($color) {
	display: inline-flex;
	align-items: center;
	position: relative;
	color: $color;
	background-color: transparent;
	padding: 0 $lg;
	font-family: "Monument Extended", sans-serif;
	font-size: $font-sm;
	font-weight: 700;
	border: 1.5px solid $color;
	text-transform: uppercase;
	z-index: 1;
	line-height: 2.5;
	outline: none;

	&:hover {
		text-decoration: underline $color;
	}

	&:focus {
		outline: 1px solid $color;
	}
}

.btn--dark {
	@include btn($dark);
}