// Primary
$primary: #F9F3EC;
$primary-light: rgba($primary, 0.7);
$primary-lighter: rgba($primary, 0.5);

// Secondary
$accent: #EB1C22;
$accent-light: #ff5e4d;
$accent-lighter: rgba($accent, 0.5);

// Shade
$dark: #141010;
$dark-light: #3a3636;
$dark-lighter: rgba($dark, 0.5);