// Primary
$primary: #f2eee2;
$primary-light: #fcf8ee;
$primary-dark: #ebe3d4;

// Accent
$accent: #ec0902; // #fd1c15
$accent-light: rgba($accent, 0.8);
$accent-lighter: rgba($accent, 0.5);

// Shade
$dark: #0b0100;
$dark-light: #4C4644;
$dark-lighter: #8E8A88;