// Primary
$primary: #ffffff;

// Accent
$accent: #ce161c;
$accent-light: rgba($accent, 0.7);
$accent-lighter: rgba($accent, 0.5);

// Shade
$dark: #0d0202;
$dark-light: #40453E;
$dark-lighter: hsl(0, 10%, 50%);