@mixin link($color, $color-light, $shade) {
	text-decoration: underline;	
	text-decoration-color: $color-light;
	color: $color;
	font-weight: 500;
	transition: all 0.3s ease-in-out;

	&:hover {
		text-decoration-color: $shade;
		color: $shade;
		transition: color 0.3s ease-in-out, text-decoration-color 0.5s ease-in-out;
	}

	&:focus {
		outline: none;
		box-shadow: 0px 0px 0 1.5px $color-light;
	}
}

.link--accent {
	@include link($accent-light, $accent-lighter, $dark)
}

.link--primary {
	@include link($dark-lighter, $dark-light, $primary)
}

.link--dark {
	@include link($dark-light, $dark-lighter, $dark);
}

.link--dropdown {
	color: $dark-lighter;
	font-weight: 500;
	position: relative;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: $dark;
		transition: all 0.3s ease-in-out;
	}
}

.link--inline {
	display: inline-flex;
	position: relative;
	letter-spacing: 0.5px;
	font-weight: 700;
	color: $dark;
	white-space: nowrap;
	font-size: $font-sm;
	transition: all 0.3s ease-in-out;

	&:hover {
		transition: all 0.3s ease-in-out;
		color: $dark-light;
	}

	svg {
		margin-left: 4px;
	}
}