* {
    padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
	line-height: 1.4;
}

h1, h2, h3, h4 {
	line-height: 1.25;
}

button, input[type=submit] {
	border: none;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}

// Base
body,
html {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: $primary;
	color: $accent;
}

::selection {
	color: $primary;
	background-color: $dark;
}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

.btn--center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: $lg;

	* + * {
		margin-top: $xs;
	}
}

.section {
	margin-top: $xxl;

	&__list {
		display: flex;
		max-width: 500px;
        margin: $lg auto 0 auto;
        flex-direction: column;
	}
}

.list {
	list-style: square inside;
	line-height: 1.4;

	li {
		margin-top: $sm;
	}
}