* {
    padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    box-sizing: border-box;
}

a, g-link {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

h1 {
	font-size: $xxl;
}

h2 {
	font-size: $xl;
}

h3 {
	font-size: $lg;
}

h4 {
	font-size: $md;
}

p {
	line-height: 1.4;
	font-size: $sm;
}

h1, h2, h3, h4 {
	line-height: 1.25;
}

button, input[type=submit] {
	border: none;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}

// Base
body,
html {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	font-family: "Gosha Sans", sans-serif;
	background-color: $primary;
	color: $accent;
}

::selection {
	color: $primary;
	background-color: $dark;
}