@mixin title($color) {
	display: inline-block;
	position: relative;
	color: $color;
	font-family: "Monument Extended";
	font-size: $font-xl;
	font-weight: 700;

	@media screen and (max-width: $tablet) {
		font-size: $font-lg;
	}
}

.title--accent {
	@include title($accent);
}

.title--dark {
	@include title($dark);
}

@mixin subtitle($color) {
	position: relative;
	color: $color;
	font-family: "Monument Extended";
	font-size: $font-lg;;
}

.subtitle--dark {
	@include subtitle($dark);
}

.subtitle--accent {
	@include subtitle($accent);
}